body {
    background-color: aqua;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
  color: red;
    font-family: impact, fantasy;
    font-size: 40px;
    font-style: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}
h2 {
    background-color: aliceblue;
    font-family: comic sans ms, cursive;
    font-size: 30px;
    font-style: bold;
    text-align: center;
}
p {
    background-color: aliceblue;
    line-height: 1.4em;
    width: 90%;
    padding: 20px;
    margin: 20px auto 20px auto;
    text-align: left;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visite {
    color: chartreuse;
}
a:hover {
    color:deeppink;
    text-decoration: underline;
}
div /*on the TMA04_T215 page*/
{
    height: 300px;
    width: 400px;
    background-color: blueviolet;
}
table, th {
    border-bottom: 1px solid green;
    border: 1px solid red;
}
th {
    text-align: left;
    text-transform: uppercase;
    padding: 5px;
    
}
td {
    min-width: 350px;
    max-width: 550px;
    text-align: left;
    padding: 5px;
    margin: 0px;
    border-right: 1px solid green;
    
}
ul {
    list-style-type: disc;
}
li{
    text-align: left;
    
}